@font-face {
    font-family: "Inter var";
    src: url("/static/fonts/Inter-roman.var.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    unicode-range: U+0000-00A0, U+00A2-00A9, U+00AC-00AE, U+00B0-00B7,
        U+00B9-00BA, U+00BC-00BE, U+00D7, U+00F7, U+2000-206F, U+2074,
        U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"), local("Inter-Bold"),
        url("/static/fonts/Inter-Bold.woff2") format("woff2"),
        url("/static/fonts/Inter-Bold.woff") format("woff"),
        url("/static/fonts/Inter-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    unicode-range: U+0000-00A0, U+00A2-00A9, U+00AC-00AE, U+00B0-00B7,
        U+00B9-00BA, U+00BC-00BE, U+00D7, U+00F7, U+2000-206F, U+2074,
        U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"), local("Inter-Italic"),
        url("/static/fonts/Inter-Italic.woff2") format("woff2"),
        url("/static/fonts/Inter-Italic.woff") format("woff"),
        url("/static/fonts/Inter-Italic.otf") format("opentype");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+0000-00A0, U+00A2-00A9, U+00AC-00AE, U+00B0-00B7,
        U+00B9-00BA, U+00BC-00BE, U+00D7, U+00F7, U+2000-206F, U+2074,
        U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"), local("Inter-Light"),
        url("/static/fonts/Inter-Light.woff2") format("woff2"),
        url("/static/fonts/Inter-Light.woff") format("woff"),
        url("/static/fonts/Inter-Light.otf") format("opentype");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    unicode-range: U+0000-00A0, U+00A2-00A9, U+00AC-00AE, U+00B0-00B7,
        U+00B9-00BA, U+00BC-00BE, U+00D7, U+00F7, U+2000-206F, U+2074,
        U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"), local("Inter-LightItalic"),
        url("/static/fonts/Inter-LightItalic.woff2") format("woff2"),
        url("/static/fonts/Inter-LightItalic.woff") format("woff"),
        url("/static/fonts/Inter-LightItalic.otf") format("opentype");
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    unicode-range: U+0000-00A0, U+00A2-00A9, U+00AC-00AE, U+00B0-00B7,
        U+00B9-00BA, U+00BC-00BE, U+00D7, U+00F7, U+2000-206F, U+2074,
        U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"), local("Inter-Regular"),
        url("/static/fonts/Inter-Regular.woff2") format("woff2"),
        url("/static/fonts/Inter-Regular.woff") format("woff"),
        url("/static/fonts/Inter-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    unicode-range: U+0000-00A0, U+00A2-00A9, U+00AC-00AE, U+00B0-00B7,
        U+00B9-00BA, U+00BC-00BE, U+00D7, U+00F7, U+2000-206F, U+2074,
        U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}
