html {
    --shadow-color: 0deg 0% 58%;
    --shadow:
        0px 0.5px 0.6px hsl(var(--shadow-color) / 0.27),
        0px 2.4px 2.7px -0.3px hsl(var(--shadow-color) / 0.27),
        0px 4.2px 4.7px -0.6px hsl(var(--shadow-color) / 0.27),
        0px 6.4px 7.2px -0.8px hsl(var(--shadow-color) / 0.27),
        0px 9.3px 10.5px -1.1px hsl(var(--shadow-color) / 0.27),
        0px 13.4px 15.1px -1.4px hsl(var(--shadow-color) / 0.27),
        0px 19.1px 21.5px -1.7px hsl(var(--shadow-color) / 0.27),
        0px 26.7px 30px -1.9px hsl(var(--shadow-color) / 0.27),
        0px 36.7px 41.3px -2.2px hsl(var(--shadow-color) / 0.27),
        0px 49.4px 55.6px -2.5px hsl(var(--shadow-color) / 0.27);
    --light-font-colour: #000;
    --light-background-colour: #ededed;
    --dark-font-colour: #fff;
    --dark-background-colour: #222;
    --darker-background-colour: #111;
}
