@import "css/variables.css";
@import "css/fonts.css";

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light-background-colour);
    color: var(--light-font-colour);
    font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
    max-width: 60em;
    height: 100vh;
    max-height: -webkit-fill-available;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
}

header,
footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

main {
    flex: 2;
}

a {
    color: var(--light-font-colour);
}

blockquote {
    background: var(--light-background-colour);
    border-left: 10px solid #ccc;
    border-radius: 0.2em;
    margin: 1.5em 0.2em;
    padding: 0.7em;
}

footer ul {
    padding: 0;
}

li {
    margin: 1em 0.5em;
}

article li {
    margin: 0.5em 0.2em;
}

nav li,
footer li {
    display: inline;
    margin: 0.2em 0.5em;
}

ol {
    padding: 0 0 0 1em;
}

h1 {
    text-align: center;
}

article {
    background-color: #fff;
    border: 0.05em #ccc solid;
    border-radius: 0.5em;
    box-shadow: var(--shadow);
    padding: 0.5em 2em 2em 2em;
}

header h1 {
    font-size: 2em;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.17em;
}

section {
    text-align: center;
    margin: 3em auto;
}

.button {
    background-color: var(--dark-background-colour);
    border: 0;
    border-radius: 0.5em;
    color: var(--dark-font-colour);
    display: inline-block;
    font-weight: bold;
    padding: 0.75em 1em;
    text-decoration: none;
    margin: 0.5em;
    box-shadow: var(--shadow);
}

.button:hover {
    background-color: var(--darker-background-colour);
}

.no-list-bullets {
    list-style: none;
}

@media screen and (min-width: 60em) {
    article {
        padding: 0.5em 3em 2em 3em;
    }

    ol, ul {
        padding: 0 0.5em 0 2em;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: var(--dark-font-colour);
    }

    a {
        color: var(--dark-font-colour);
    }

    article {
        background-color: var(--dark-background-colour);
        border: none;
        box-shadow: none;
    }

    blockquote {
        background-color: var(--darker-background-colour);
    }

    .button {
        background-color: var(--light-background-colour);
        color: var(--light-font-colour);
        box-shadow: none;
    }

    .button:hover {
        background-color: #fff;
    }
}

@supports (font-variation-settings: normal) {
    body {
        font-family: "Inter var", Verdana, Geneva, Tahoma, sans-serif;
    }
}
